Source: zero-lliurex-pmb
Section: admin
Priority: optional
Maintainer: Equipo LliureX <lliurex@gva.es>
Uploaders: Equipo LliureX <lliurex@gva.es>
Build-Depends: llxsrchelper,debhelper (>= 10),zero-dev
Standards-Version: 4.1.2

Package: zero-lliurex-pmb
Architecture: all
Depends: ${misc:Depends},epi-gtk.zero-center
Description: PMB Installer
 PMB Installer in all flavors instead of
 Lliurex Biblioteca Flavor
